.reviewsContainer {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #1c1c1c;
  border-radius: 8px;
  color: #ffffff;
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
}

.reviewsList {
  display: flex; /* Заменим column-count на flex для более простого управления */
  flex-wrap: wrap; /* Позволим элементам переноситься на новую строку */
  gap: 16px;
  list-style: none;
  padding: 0;
}

.reviewItem {
  background-color: #292929;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  flex: 1 1 calc(50% - 16px); /* Распределение по две колонки на больших экранах */
  transition: transform 0.3s;
}

.reviewItem:hover {
  transform: translateY(-5px); /* Сдвигаем элемент вверх при наведении */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Увеличиваем тень при наведении */
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.author {
  font-size: 18px;
  font-weight: 500;
}

.reviewRating {
  font-size: 18px;
  font-weight: bold;
  background-color: #00aaff;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 12px;
}

.reviewContent {
  margin: 8px 0;
  font-size: 16px;
  line-height: 1.75;
}

.reviewDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: 1px solid rgba(128, 128, 128, 0.514);
  padding-top: 8px;
}

.reviewDate {
  font-size: 14px;
  margin: 0;
}
